.Layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Layout main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Layout .consultationForm {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.Layout .consultationFormClose {
    position: absolute;
    right: 16px;
    top: 22px;
}

.Layout .logo {
    flex-grow: 2;
}

.Layout .logo>a {
    outline: none;
}

.Layout .navLinks {
    flex-grow: 10;
    display: flex;
    justify-content: center;
}

.Layout .button {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
